body{
  margin:10px;
}
a {
  color:black;
  text-decoration:none;
}
h1 {
  font-size:50px;
  text-align:center;
  border-bottom:1px solid gray;
  padding:20px;
  margin:0;
}
ol {
  border-right:1px solid gray;
  width:70px;
  margin:0;
}
#grid ol{
  padding-left:35px;
  padding-right:15px;
  padding-top:10px;
}
#grid {
  display:grid;
  grid-template-columns:150px 1fr;
}
#article {
  padding-left:2px;
}
@media(max-width:680px){
  #grid{
    display:block;
  }
  #list{
    display:block;
    border-right:none;
  }
  h2{
    border-top:1px solid gray;
    padding-top:10px;
  }
}
